
<div class="grid">
  <div class="col-12 md:col-12 lg:col-8">
    <mat-card>
      <mat-card-title>Haus Asteri</mat-card-title>
      <mat-card-subtitle>Beschreibung</mat-card-subtitle>
      <mat-card-content>
        <p>Cooles Ferienhaus mit AC und eigenem Pool über g. maps zu finden. Zwei getrennte Schlafzimmer und voll möbliertem Haus.
           Dachterrasse mit Blick aufs Meer. 350 m² Grund, für Kleinkinder und zum Grillen geeignet. 4 Fahrräder inklusive.
           Schönen Urlaub inkl. Bade - Strandtücher. Das Haus befindet sich im Ort Asteri mit ca. 100 Einwohner - wenn jemand die
           Ruhe sucht und trotzdem unweit die Post abgeht - dann sind sie im Haus Asteri Richtig. 2 km vom größerem Ort und Meer entfernt.
          </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 md:col-12 lg:col-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Erwin Deicker</mat-card-title>
        <mat-card-subtitle>Vermieter</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          0664 9671444<br>
          erwin.deicker@bblinz.at<br>
          <br>
          Steinbachstraße 1<br>
          4560 Steinbach<br>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
